/*==================
     Css Reset
====================*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  text-decoration: none;
}


/*==================
     Estilos globais
====================*/
.hidden {
	display: none;
}
.appear {
	display: block;
}

/*==================
     Página
====================*/
.db-main-page {
	margin-top: 20px;
  	color:#64625D;
  	margin-bottom: 20px;
}

/*==================
     Menu
====================*/
.db-main-page .db-menu {
	padding: 10px;
    background-color: #C7C2B3;
    margin-bottom: 15px;
    border-radius: 0 0 6px 6px;
}
.db-main-page .db-menu label {
	vertical-align: middle;
}
/*==================
     Conteúdo
====================*/
.db-main-page .db-main-content .db-presetation {
	padding-left: 10px;
	font-size: 18px;
	margin-bottom: 10px;
}
.db-main-page .db-main-content .jumbotron {
	background-color: #E0DACA;
  margin-bottom: 5px;
}
.db-main-page .db-main-content .jumbotron.success {
  background-color: #5cb85c;
}
.db-main-page .db-main-content .jumbotron.success .db-presetation {
  color: white;
}
.db-main-page .db-main-content .jumbotron.success .db-presetation.success{
  color:white;
  font-size: 24px;
}


/*==================
     Formulário
====================*/
.db-main-page .db-main-content .db-form .db-title {
	color: #64625D;
    padding: 5px 40px 5px 10px;
    border-radius: 4px;
    position: relative;
    background-color: #EDE0BC;
    box-shadow: 0.5px 0.3px 0.6px 0px;
}   
.db-main-page .db-main-content .db-form .db-title .arrow-down {
	  width: 0;
    height: 0;
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #C7C2B3;
    position: absolute;
    right: 10px;
    top: 14px;
}
.db-main-page .db-main-content .db-form .db-close{
    display: inline-block;
    position: absolute;
    right: 0;
    top: -7px;
    text-indent: -99999px;
    font-size: 30px;
    width: 100%;
    font-weight: bold;
}
.db-main-page .db-main-content .db-form a:hover, .db-main-page .db-main-content .db-form a:focus {
	text-decoration: none;
}
.db-main-page .db-main-content .db-button-submit {
  border-top: 1px solid #AB8B10;
  margin-top: 10px;
  padding: 0;
}
.db-main-page .db-main-content .db-button-submit .db-submit {
  background-color: #109ACF;
  margin-top: 10px;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity:0.25;
}
.db-main-page .db-main-content .db-form .db-box {
	  height: auto;
    display: none;
}
.db-main-page .db-main-content .db-form h3 {
	 font-size: 18px;
   position: relative;
}

.db-main-page .db-main-content .db-form .db-box#Basic:target, .db-main-page .db-main-content .db-form .db-box#Address:target, .db-main-page .db-main-content .db-form .db-box#Other:target {
	box-shadow: 1px 1px 3px 1px;
  padding-top: 5px;
  display: block;
  margin-bottom: 15px;
}
.db-main-page .db-main-content .db-form .db-box#Other:target {
  padding-bottom: 10px;
}

@media (min-width: 495px) {
  .db-main-page .db-main-content .db-form h3 {
     font-size: 20px;
     display: inline-block;
     margin-left: 8px;
     margin-bottom: 20px;
     position: relative;
  }  
  .db-main-page .db-main-content .db-form h3:first-child {
     margin-left: 0px;
  }  
}


    
